.visuallyHidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mainContainer {
    padding:5%;

    .heroContainer {
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        height:50vh;
        background-size:cover;
        background-position:50% 50%;
        font-size:40px;
        
    }

    .searchContainer, .buttonsContainer {
        width:100%;
        display:flex;
        justify-content: center;
    }

    .searchContainer {
        margin-top:5%;
        
        form {
            width:100%;
            display:flex;
            justify-content: center;
        }

        input {
            height:3rem;
            width:80%;
            padding:10px;
            margin-right:2%;
            font-size:20px;
        }

        button {
            font-size:20px;
        }
    }

    .buttonsContainer {
        margin-top:2%;

        button {
            height:4rem;
            width:12rem;
            margin-right:2%;
            font-size:25px
        }
    }

}